.card
	.card-header
		h3#tag-name| &lt;whisky&gt;
	.card-main
		p#tag-info.
			The HTML &lt;whisky&gt; is the best thing invented.
	.card-footer
		a(id="other-tag", href="#!") Generate other <i class="fa fa-refresh"></i> 
		a(id="tag-link", href="#!", target="_blank") <i class="fa fa-code"></i> <span>Learn more</span>