footer
	$size 100
	text-align center
	padding-top 120px
	.links-social
		a
			font-size 25px
			margin 0 3px
			color $black
			transition all 0.3s
			&:hover
				color $blue
	.links-contribute
		padding-top 10px