- var description = "This website show random HTML Tag, developed by @omarkdev"
- var keywords = "html,random,tags,html random tags,open source"
- var author = "Marcos Felipe @omarkdev"
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(property="description", content=description)
meta(property="keywords", content=keywords)
meta(property="author", content=author)