meta(property="og:locale", content="en_US")
meta(property="og:url", content="https://omarkdev.github.io/random-html-tags")
meta(property="og:title", content="A website to random HTML Tags")
meta(property="og:site_name", content="Random HTML Tags")
meta(property="og:description", content=description)
meta(property="og:image", content="assets/images/card-header.jpg")
meta(property="og:image:type", content="image/jpeg")
meta(property="og:image:width", content="2560")
meta(property="og:image:height", content="1440")
meta(property="og:type", content="website")