doctype html
html(lang="en")
	head
		include head/core.jade
		include head/viewport.jade
		include head/facebook.jade
		title| Random HTML Tags - by @omarkdev
		link(rel="stylesheet",type="text/css",href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="assets/css/charizard.min.css")
	body
		include partials/header.jade

		include sections/index/main.jade

		include partials/footer.jade


		script(src="assets/js/whisky.min.js")