doctype html
html(lang="en")
	head
		title| Random HTML Tags - by @omarkdev
		link(rel="stylesheet", type="text/css", href="/assets/css/charizard.min.css")
	body
		include partials/header.jade

		include partials/footer.jade


		script(src="/assets/js/whisky.min.js")