/*!
 * Title: Random HTML Tags
 * Author: Marcos Felipe @omarkdev
*/


/*
	* Including vendor
*/
@require 'vendor/fonts'
@require 'vendor/normalize'
@require 'vendor/functions'

/*
	* Including core
*/

// - Config
@require 'core/config/colors'
@require 'core/config/elements'

// - Extends
@require 'core/extends/alinks'

/*
	* Including modules
*/

// - Objects
@require 'modules/objects/container'

// - Structure
@require 'modules/structure/header'
@require 'modules/structure/footer'

// - Sections
@require 'modules/sections/**/*'

@require 'templates/*'