footer
	.content-footer
		.links-social
			a(href="https://github.com/omarkdev/random-html-tags", target="_blank")
				i.fa.fa-github
			a(href="https://www.facebook.com/omarkdev", target="_blank")
				i.fa.fa-facebook
			a(href="https://www.twitter.com/omarkdev", target="_blank")
				i.fa.fa-twitter
			a(href="https://medium.com/@omarkdev", target="_blank")
				i.fa.fa-medium
		.links-contribute
			a(class="github-button" href="https://github.com/omarkdev/random-html-tags" data-icon="octicon-star" data-style="mega" data-count-href="/omarkdev/random-html-tags/stargazers" data-count-api="/repos/omarkdev/random-html-tags#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star omarkdev/random-html-tags on GitHub")| Star