footer
	.content-footer
		a(href="https://github.com/omarkdev/random-html-tags", target="_blank")
			i.fa.fa-github
		a(href="https://www.facebook.com/omarkdev", target="_blank")
			i.fa.fa-facebook
		a(href="https://www.twitter.com/omarkdev", target="_blank")
			i.fa.fa-twitter
		a(href="https://medium.com/@omarkdev", target="_blank")
			i.fa.fa-medium
